
body {
    background-color: rgb(138, 164, 168);
}

div{
    font-family: Arial, Helvetica, sans-serif;
}

h1, h2{

    color: lightblue;
}
.proud {
    color: rgb(89, 223, 111)
}
a {
    text-decoration: none;
    color: rgb(26, 53, 54);
    font-size: 14px;
    font-family: SansSerif;
}
a:hover {
    text-decoration: underline;

}
dl.movieinfos {
    color: gold;
    font-size: 0.8em
}

dd {
    color: black;
}

dt {
    font-family: "Times New Roman", Times, serif;
    text-decoration: underline;
}
.reverse {
    display: flex;
    flex-direction: column-reverse
}
#favoritemovies:hover .movieinfos {
    display: block;
}
.movieinfos {
    display: none;
}
p::first-letter {
    font-size: 1.5em
}